.container1{
    background-color: #EFEFEF;
    margin:0;
    border:0;
}
body{
    padding: 0;
    margin: 0;
}
img{
    border : solid 5px;
    border-radius: 25px;
    border-color: black;
}
h1{
    font-size: 100px;
    font-family: 'Dancing Script', cursive;
    margin-top: 20px;
    padding-top: 20px;
}
.subheading1{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    line-height: 2;
    width: 70%;

}
.subheading2{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    line-height: 2;
    width: 70%;

}
